h1{
    /*font-family: 'Allura';*/
    font-family: 'Montez', cursive; 
    font-size: 32px;
    color: blue;
    margin: unset
}

h2{
    font-family: 'Ubuntu Mono';
    font-size: 15px;
}
button{
    background-color: blue;
    color : white;
}

/*.input-board{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
 }*/

 html, body{
    margin: 0; /* Stripping out margin and padding so .bg can be full width*/
    padding: 0;
    width: 100%;  /*Setting parent width -- child width is relative*/
    height: 100%; /*Setting parent height -- child height is relative*/
  }
.bg{
    background:url("../images/background.jpg") no-repeat center center;
    background-size: cover;
    box-sizing: border-box; /*Not necessary in this situation*/
    display: block; /*Not necessary, but we do want it this way*/
    width: 100%;  
    height: 100%; /* Now 100% height will work */
    padding: 0; /* No padding */
    margin: 0; /* No margins */
 }

 
 .project-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    
  }

  .header_div1 {
      float: left;
  }

  .header_div2{
      float: right;
  }
  .project_container
  {
    align-content: center;
    position: fixed;
    top:50%;
    left:42%
  }

  .submit{
      background-color: yellow;
      border: none;
      padding: 10px 22px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      color: black;
      margin: 5px;
  }
  
  button{
    border: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: blue;
    color: white;
    margin: 5px
  }

  .modal {
    display: none; /* Hidden by default */
    position:center; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    /*background-color: #474e5d;*/
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.5);

    padding-top: 50px;
    text-align: left;
    
  }

  .container {
    padding: 16px;
    display: grid;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  /* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 75%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .modal-overlay {
    /* recommendation:
    don't focus on the number "1000" here, but rather,
    you should have a documented system for z-index and
    follow that system. This number should be pretty
    high on the scale in that system.
    */
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }